<h1>Saved Language </h1>
<p>
  <strong>Category/Name:</strong>
  <%= @language.name %>
</p>

<%= link_to 'Back', languages_path %>
<%= link_to 'Edit', edit_language_path(@language) %>
<p><a href="#top">Return to Top</a></p>
