<div style="background-color:#e2d7bb; height:140px;">
             <%= image_tag "2wwH5x2.gif", size: "130x130", align: "left" %>
             <div style="color:#2c0f00; text-align:center"><br/><h1><u>Peace Corps Photo Language Translation</u></h1></div>
<!--                    {% if pcuser %} -->
<% if user_signed_in? %>
             <div style="align:right; padding-top:10px; margin-right:-500px">
	     <a href="#" style="border:2px solid; padding:5px; color:#2c0f00"><b>Welcome, <%= current_user.username %>!</b></a>
             </div>
<% else %>
<% end %>
<!--                    {% endif %} -->
</div>

