// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container a:hover { color: #f55e55; text-decoration: none; background-color: rgba(255, 255, 255, 0); }
